---
import { footerLinks } from "../constants";
import { Image } from "astro:assets";
import { CornerPrintLeft_Bottom, CornerPrintRight_Bottom } from "../assets";
---

<div class="w-full flex justify-between null-dark-gradient">
  <Image src={CornerPrintLeft_Bottom} format="svg" alt=""/>
  <Image src={CornerPrintRight_Bottom} format="svg" alt=""/>

  <nav class="w-full flex items-center py-5 absolute z-20 sm:px-16 px-6">
    <div class="w-full flex justify-between items-center max-w-7x1 mx-auto">
        <!-- Left side Footer -->
      <a href="/" class="flex items-center gap-2">
        <p class="text-white text-[18px] font-bold cursor-pointer flex">
          Roy Bastiaansen
        </p>
      </a>

      <!-- Right side Footer -->
      <ul class="list-none hidden sm:flex flex-row gap-10">
        {
          footerLinks.map((link) => (
            <li class="hover:text-white text-[18px] font-medium cursor-pointer">
              <a href={`${link.icon_link}`} target="_blank" rel="noreferrer">
                <Image
                  src={link.icon}
                  alt={link.title}
                  class="w-[40px] h-[50px] object-contain cursor-pointer"
                  format="png"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</div>
